.defaultContent{
    background-color: var(--lightingGray);
}

.nocturnalContent{
    background-color: var(--nocturnalGray);
    color:white
}

.theContent {
    padding: 1vw 3vw;
    display: grid;
    grid: auto / auto auto auto auto;
    gap: 2vw;
}

@media (max-width:700px){

    .theContent {
        padding: 1vw 3vw;
        display: block;
        
    }

    img.fotos {
        width: -webkit-fill-available;
        height: auto;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .countryCard {
        width: 100%;
        box-shadow: 0px 1px 11px 0px rgb(0 0 0 / 20%);
        border-radius: 15px;
        height: 100%;
        margin-bottom:20px;
    }



    .filters {
        display: block !important;
        
    }

    .search {
       
        padding: 10px;
        display: flex;
        gap: 10px;
        border-radius: 6px;
        box-shadow: 0px 1px 11px 0px rgb(0 0 0 / 20%);
        width: auto !important;
    }

    .filtro {
        margin-top: 10px;
        width: auto !important;
        padding: 10px;
        display: flex;
        gap: 10px;
        border-radius: 6px;
        box-shadow: 0px 1px 11px 0px rgb(0 0 0 / 20%);
        margin-bottom: 10px;
    }
}
